@media (max-width: 768px) {
  .categories {
    background-color: rgba(0, 0, 0, 0.93);
    position: absolute;
    z-index: 1;
    transform: translateY(-100%) translateX(-1px);
    width: 100%;
    transition: all 0.2s;
  }
  .categories.active {
    transform: translateY(0%) translateX(-1px);
    transition: all 0.3s;
    width: 100%;
  }
  .header {
    z-index: 2;
  }
  .burger-menu {
    display: block;
  }
  .view-description {
    display: none;
  }
  .view-description__mobile {
    height: 86.5vh;
  }
  .selectItems.mobile {
    display: none;
  }
  .wrapper {
    display: block;
  }
  .view-description__back {
    display: block;
  }
}

@media (max-width: 616px) {
  .view-description__image img {
    height: 200px;
    width: 200px;
  }

  .view-description__name {
    font-size: 45px;
  }
  .header-logo__pokeman {
    margin-top: -6px;
    text-align: start;
  }
  .header-logo_ball img {
    display: none;
  }
}
@media (max-width: 414px) {
  .selectItems {
    min-width: 130px;
  }

  .view-description__image img {
    height: 140px;
    width: 120px;
  }

  .view-description__name {
    font-size: 26px;
  }
  .view-description__abilityDescr {
    font-size: 14px;
  }

  .view-description__ability {
    font-size: 19px;
  }
  .header-logo__pokeman img {
    width: auto;
  }
}

@media (max-width: 360px) {
  .header-logo__pokeman img {
    width: 210px;
  }
}


@media only screen and (max-height: 900px) {
  .download{
    margin-top: -60px;
    z-index: -1;
  }
}