* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;

}
.active {
 display: block;
}

.disable {
  display: none;
}

li {
  text-transform: capitalize;
}

.test {
 height: 100px;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
input {
  padding: 11px;
  width: 100%;
}
h1 {
  margin: 0;
}

.App {
  height: 100%;
}

.container {
  max-width: 100%;
  margin: 0px auto 0 auto;
  border: 1px solid black;
  background-color: #f9e641;
}

.burger-menu {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 5%;
  top: 41%;
  display: none;
}

.burger-menu span {
  width: 30px;
  height: 2px;
  display: block;
  background-color: red;

  &::before {
    content: '';
    height: 2px;
    width: 30px;
    background-color: red;
    height: 2px;
    position: absolute;
    top: 40%;
  }

  &::after {
    content: '';
    height: 2px;
    width: 30px;
    background-color: red;
    height: 2px;
    position: absolute;
    top: 80%;
  }
}

.header {
  width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid black;
  background-color: rgba(24, 31, 36, 1);
  position: relative;
}

.categories {
  border-right: 1px solid grey;
  box-sizing: border-box;
  padding: 0.5% 0.5%;
  min-width: 200px;
  background-color: rgba(0, 0, 0, 0.73);
  color: #ffe600;
  &-img {
    width: 30px;
    display: inline-block;
    transform: rotate(45deg);
  }

  &-favorites {
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.selectItems {
  box-sizing: border-box;
  overflow: scroll;
  position: relative;
  height: 700px;
  min-width: 180px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 86.5vh;

  &__search {
    width: 100%;
    padding: 8px;
    margin-bottom: 2px;
  }
  & img {
    width: 104px;
    height: 105px;
  }
}

.wrapper {
  display: flex;
  overflow-y: hidden;
}

.view {
  flex-grow: 2;
  &-emptyDescr {
    text-align: center;
    & img {
      max-width: 320px;
    }
  }

  &-description {
    height: 100%;
    &__back {
      text-align: left;
      margin-left: 20px;
      display: none;
      & span {
        border: 2px solid pink;
        padding: 10px;
        border-radius: 15px;
      }
    }
    &__heart {
      text-align: end;
      margin-top: 20px;
      &--active {
        opacity: 1;
      }
      &--noactive {
        opacity: 0.7;
        &:hover {
          opacity: 0.9;
        }
      }
      & img {
        width: 40px;
        transform: rotate(90deg);
        margin-right: 50px;
      }
    }
    &__image {
      text-align: center;
      & img {
        height: 300px;
        width: 300px;
        height: 300px;
      }
    }
    &__name {
      text-align: center;
      font-size: 60px;
      text-transform: capitalize;
    }
    &__type {
      text-align: center;
    }

    &__ability {
      font-size: 22px;
      text-transform: capitalize;
      margin-left: 15px;
      display: inline-block;
      border-bottom: 5px solid #404fd4;
    }
    &__abilityDescr {
      margin-left: 15px;
      margin-top: 16px;
    }
    &__mobile {
      height: 100%;
    }
  }
}

.header {
  &-logo__pokeman {
    text-align: center;
    margin-top: -100px;
    & img {
      width: 370px;
      height: 110px;
    }
  }

  &-logo_ball img {
    width: 90px;
    height: 90px;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.categoriesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 5px;
    li {
      border: none;
    }
  }
}

.pokemon-cart {
  background-color: transparent;
  border: none;
  position: relative;
  margin-bottom: 20px;
  & button {
    width: 100%;
  }
  &__name {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__heart {
    width: 150px;
    text-align: end;
    margin-top: -20px;
    & img {
      width: 25px;
      height: 25px;
      transform: rotate(90deg);
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-bottom: 6px solid #404fd4;
    width: 150px;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: pink;
  border: 4px solid transparent;
  background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404fd4;
  border-radius: 8px;
  border: 0px solid transparent;
}



@import './media';
