* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}
input {
  padding: 11px;
  width: 100%;
}
h1 {
  margin: 0;
}

.container {
  width: 1110px;
  margin: 100px auto 0 auto;
  border: 1px solid black;
  background-color: #f9e641;
}

.header {
  width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid black;
  background-color: rgba(24, 31, 36, 1);
}

.categories {
  width: 200px;
  border-right: 1px solid grey;
  box-sizing: border-box;
  padding: 10px 10px;
  background-color: rgba(0, 0, 0, 0.73);
  color: #ffe600;
  & h1 {
    font-size: 23px;
    display: inline-block;
    margin-left: 6px;
  }
  &-img {
    width: 30px;
    display: inline-block;
    transform: rotate(45deg);
  }

  &-favorites {
    &__wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}

.selectItems {
  width: 200px;
  box-sizing: border-box;
  overflow: scroll;
  height: 700px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__search {
    width: 100%;
    padding: 8px;
    margin-bottom: 2px;
  }
  & img {
    width: 104px;
    height: 105px;
  }
}

.wrapper {
  height: 100%;
  display: flex;
}

.view {
  width: 707px;
  &-description {
    &__heart {
      text-align: end;
      &--active {
        opacity: 1;
      }
      &--noactive {
        opacity: 0.7;
        &:hover {
          opacity: 0.9;
        }
      }
      & img {
        width: 40px;
        transform: rotate(90deg);
        margin-right: 50px;
      }
    }
    &__image {
      text-align: center;
      & img {
        height: 300px;
        width: 300px;
        height: 300px;
      }
    }
    &__name {
      text-align: center;
      font-size: 60px;
      text-transform: capitalize;
    }
    &__type {
      text-align: center;
    }
  }
}

.header {
  &-logo__pokeman {
    text-align: center;
    margin-top: -100px;
    & img {
      width: 370px;
      height: 110px;
    }
  }

  &-logo_ball img {
    width: 90px;
    height: 90px;
    padding-top: 10px;
    padding-left: 10px;
  }
}

.title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 30px;
}

.categoriesList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    border: 1px solid grey;
    margin-bottom: 10px;
    padding: 5px;
    li {
      border: none;
    }
  }
}

.pokemon-cart {
  background-color: transparent;
  border: none;
  position: relative;
  margin-bottom: 20px;
  & button {
    width: 100%;
  }
  &__name {
    font-size: 20px;
    text-transform: capitalize;
    margin-bottom: 10px;
  }

  &__heart {
    width: 150px;
    text-align: end;
    margin-top: -20px;
    & img {
      width: 25px;
      height: 25px;
      transform: rotate(90deg);
    }
  }

  &::after {
    content: '';
    position: absolute;
    border-bottom: 6px solid #404fd4;
    width: 150px;
    transform: translateX(-50%);
    border-radius: 5px;
    margin-top: 10px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: pink;
  border: 4px solid transparent;
  background-clip: padding-box;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #404fd4;
  border-radius: 8px;
  border: 0px solid transparent;
}
